<ion-view view-title="Detalhes">
  <ion-nav-buttons side="secondary">
    <button class="button button-clear button-positive" ng-click="save()">
      Salvar
    </button>
  </ion-nav-buttons>

  <ion-content>
    <div class="list">
      <label class="item item-input">
        <span class="input-label">Nome</span>
        <input type="text" ng-model="contact.first_name">
      </label>

      <label class="item item-input">
        <span class="input-label">Sobrenome</span>
        <input type="text" ng-model="contact.last_name">
      </label>

      <label class="item item-input">
        <span class="input-label">E-mail</span>
        <input type="email" ng-model="contact.email">
      </label>
    </div>

    <button class="button button-assertive button-full" ng-click="delete()">Apagar</button>
  </ion-content>
</ion-view>
